.header {

	&__title {
		font-size: 60px;
	}
}
.works {
	margin-top: -297px;
}

@media (max-width: $desktop-width) {

	.container {
		width: 100%;
		padding: 0 25px;
	}

	.header {
		&__title {
			font-size: 60px;
		}

		&__text {
			margin-left: 66px;
		}
		&__desc {
			font-size: 18px;
		}
		&__wrapper {
			justify-content: space-evenly;
		}
		&__button-contact {
			right: 47px;
		}
	}
	.works {
		&__title {
			font-size: 62px;
		}
		&__subtitle {
			font-size: 32px;
		}
	}
	.portfolio {
		&__link {
			a {
				font-size: 20px;
			}
		}
	}
	.decor {
		height: 750px;
	}
	.cooperation {
		padding-top: 215px;

		&__wrapper {
			padding: 0 40px;
		}

		&__title {
			font-size: 58px;
		}

		&__container {
			min-height: 277px;
		}
	}
	.footer {
		height: 725px;
		&__overlay_top {
			top: -16px;
		}
		&__wrapper {
			padding: 200px 30px 0 30px;
			
		}
	}
	#portfolio__img {
		height: 590px;
	}
}

@media (max-width: 1159px) {
.works {
	&__list {
		justify-content: space-around;
	}
}
}

@media (max-width: $middle-width) {
	
	.header {
		&__text {
			margin-left: 40px;
		}
		&__title {
			font-size: 55px;
		}
		&__photo {
			width: 200px;
			height: 200px;
		}
	}
	.works {
		&__title {
			margin: -93px 0 0 0;
			font-size: 60px;
		}
		&__subtitle {
			margin: 10px 0;
			font-size: 28px;
		}
		&__list {
			justify-content: space-evenly;

			&-item {
				width: 325px;
				margin-bottom: 20px;
			}
		}

		&__shopify-themes {
			.works__subtitle {
				font-size: 32px;
			}
		}
	}
	.cooperation {
		font-size: 20px;
	}
	.footer {
		&__overlay_top {
			top:-47px;
		}
	}

	.button {
		height: 63px;
	}
	.portfolio {
		&__link {
			margin-left: 20px;
		}
	}

}

@media (max-width: $middle-width_min) {
	
	.header {
		padding-top: 70px;
		height: 590px;
		&__wrapper {
			justify-content: space-around;
		}
		&__photo {
			flex-basis: 190px;
			height: 190px;
		}
		&__text {
			margin-left: 20px;
			width: 550px;
		}
		&__title {
			font-size: 50px;

			span {
				font-size: 30px;
			}
		}
		&__button-contact {
			top: 146px;
					right: 25px;
		}
	}

	.works {
		&__title {
			font-size: 56px;
		}
		&__list {
			&-item {
				width: 355px;
				margin-bottom: 20px;				
			}
		}
	}

	.footer {
		&__overlay_top {
			top: -2px;
		}
	}

	.button {
		width: 230px;
		height: 50px;
	}
	.portfolio {
		&__link {
			align-items: stretch;

			a {
				height: 100%;

				padding: 20px;
			}
		}
		&__desc {
			margin-left: 30px;
		}
		overflow: scroll;
		&__close {
			right: 0;
			top: 3px;
		}

	}
	#portfolio__img {
		height: 470px;
	}
}

@media (max-width: $tablet-width) {

	
	.header {
		padding-top: 58px;
		&__photo {
			display: none;
		}
		&__button-contact {
			top: 155px;
		}
	}

	.works {
		&__list {
			&-item {
				width: 325px;
				margin-bottom: 20px;				
			}
		}
		
		&__title {
			margin-top: -72px;
			margin-bottom: 25px;
		}
	}
	.cooperation {
		min-height: 585px;
		font-size: 19px;
		&__title {
			font-size: 45px;
		}
	}

	.footer {
		&__overlay_top {
			top: -3px;
			height: 250px;
		}
		&__img {
			width: 300px;
			height: 300px;
		}
		&__wrapper {
			padding-top: 158px;
			flex-flow: row wrap;
		}
	}
	.pageup {
		width: 55px;
		height: 55px;
		bottom: 10px;
		right: 10px;
	}

	.portfolio {
		&__title {
			flex-flow: column nowrap;
		}

		&__desc {
			margin-left: 0;
		}

		&__link {
			margin-left: 0;
		}

		&__close {
			right: 5px;
			top: 10px;
		}
	}
	#portfolio__img {
		height: 470px;
	}
}
@media (max-width: $tablet-width_min) {
	.works {
		&__list {
			&-item {
				width: 268px;
				height: 147px;
			}
		}
	}
	
	#portfolio__img {
		height: 395px;
	}
}

@media (max-width: $mobile-width) {
	.header {
		padding-top: 25px;
		height: 520px;
		
		&__text {
			margin-left: 0;
		}
		&__desc {
			font-size: 16px;
		}
		&__title {
			font-size: 40px;
			span {
				font-size: 24px;
			}
		}
		&__button-contact {
			top: 160px;
		}
	}
	.works {
		&__title {
			margin-top: -62px;
		}
		&__list {
			&-item {
				width: 100%;
				height: 250px;
			}
		}
		
	}
	.cooperation {
		font-size: 18px;
		min-height: 600px;

		&__title {
			margin-top: -68px;
		}
	}
	.footer {
		&__info{
			font-size: 18px;

		}
		&__email {
			font-size: 22px;
		}
		&__wrapper {
			padding-top: 130px;
		}
		&__img {
			margin-top: 20px;
		}
	}
	#portfolio__img {
		height: 363px;
	}
}

@media (max-width: $mobile-width_min) {
	.container {
		padding: 0 10px;
	}
	.header {
		height: 216px;

		padding-top: 18px;
		padding-left: 14px;

		&__wrapper {
			flex-flow: row;
			align-content: flex-start;
			align-items: flex-start;

		}

		&__title {
			margin: 0;
			font-size: 33px;
			span {
				font-size: 20px;
				margin-top: 5px;
			}
		}
		&__text {
			position: relative;
			
			padding-right: 10px;
		}
		&__desc {
			font-size: 16px;
			position: absolute;
			top:160px;
			left: 0;
			z-index: 100;
			color: #666666;
		}

		&__button-contact {
			top: 530px;
			right: 50%;
			transform: translateX(50%);
			height: 50px;
		}
	}
	.works {
		&__overlay_top {
			height: 500px;

			.container {
				.button {
					&_animated {
						&:hover {
							animation: none;
						}
					}
				}
			}
		}

		&__title {
			margin: 110px 0 20px 0;
			font-size: 50px;
		}
		&__subtitle {
			font-size: 24px;
		}
	}
	.cooperation {
		font-size: 16px;
		min-height: 650px;

		&__text {
			margin-top: 25px;
		}
		&__wrapper {
			padding: 0 20px;
		}
	}
	.footer {
		&__overlay_top {
			top:-24px;
			.container {
				text-align: center;
			}
		}
		&__wrapper {
			padding-top: 80px;
		}
		&__img {
			width: 200px;
			height: 200px;
		}
	}
	#portfolio__img {
		display: none;
	}
}