@import "libs/normalize";
@import "libs/fonts";
@import "libs/animate";
@import "base/mixins";
@import "base/variables";
@import "base/anim";


.container {
	margin: 0 auto;
	width: 1170px;

	padding: 0 15px;

	/* outline: 1px solid red; */
}

@import "blocks/buttons";
@import "blocks/header";
@import "blocks/main";
@import "blocks/works";
@import "blocks/decor";
@import "blocks/cooperation";
@import "blocks/footer";
@import "blocks/portfolio";
@import "blocks/pageup";