@import "base/normalize";
@import "base/fonts";
@import "base/mixins";
@import "base/variables";

.container {
	margin: 0 auto;
	width: 1170px;

	padding: 0 15px;

	/* outline: 1px solid red; */
}

@import "blocks/header";
@import "blocks/main";
@import "blocks/works";