.button {
	background-color: $maincolor;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 24px;
	width: 260px;
	height: 70px;
	border: none;
	cursor: pointer;
	padding: 10px;

	&:hover {
		background-color: $maincolor_hl;
	}

	&_animated {
		&:hover {
			animation: buttonScaleUp 1s ease-in-out 1;
		}
	}

}