.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: .8);

	z-index: 999;
}
#portfolio__img {
	width: 100%;
	height: 800px;
	display: block;

	background-color: #ffffff;


}

.portfolio {

		position: absolute;
		top: 50%;
		left: 50%;

		width: 90%;
		height: 100%;

		transform: translate(-50%, -50%);

		background-color: #ffffff;
	
	&__title {
		min-height: 200px;
		width: 90%;
		margin: 0 auto;
		padding-top: 20px;

		display: flex;
		flex-flow: row nowrap;

		justify-content: space-between;
	}


	&__item {
		display: none;
	}
	&__close {
		position: absolute;
		top: 15px;
		right: -50px;

		width: 40px;
		height: 40px;

		//background-color: red;

		cursor: pointer;

		&::before {
			content: "";
			display: block;
			width: 40px;
			height: 2px;
			background-color: $maincolor;

			position: absolute;
			top: 14px;
			left: 0;

			transform: rotate(45deg);
		}
		&::after {
			content: "";
			display: block;
			width: 40px;
			height: 2px;
			background-color: $maincolor;

			position: absolute;
			top: 14px;
			left: 0;

			transform: rotate(-45deg);
		}
	}
	&__link {
		padding-top: 40px;
		a {
			text-decoration: none;
		}
	}
}