.works {

	&__overlay_top {
		width: 100%;
		
		height: 300px;
		background: url(../img/bg-over-top.svg) center (center/cover) no-repeat;
		
		.container {
			position: relative;
		}
		
		
		
	}
	
	margin-top: -300px;

	&__title {
		color: $maincolor;
		text-align: center;
		font-size: 70px;
		font-weight: 300;

		margin: -83px 0 40px 0;
	}

	&__subtitle {
		color: $maincolor;
		font-size: 36px;
		font-weight: 300;
	}

	&__list {
		@include reset-list;

		width: 100%;

		display: flex;
		flex-flow: row wrap;

		justify-content: space-between;

		&-item {
			display: block;
			width: 350px;
			height: 200px;
			background-color: #cccccc;

			margin-bottom: 40px;

			cursor: pointer;
			&_sh {
				display: block;
				width: 350px;
				height: 250px;
				margin-bottom: 40px;

				cursor: pointer;
				box-shadow: 0 0 20px rgba($color: #000000, $alpha: .3);
			}
			&_1 {
				background: url(../img/works/businesstravel.jpg) center (left/contain) no-repeat;
				background-size: 140%;
			}
			&_x1 {
				background: url(../img/works/businesstravel.jpg) center (center/contain) no-repeat;
				background-size: 100%;
			}
			&_2 {
				background: url(../img/works/blogstandard.jpg) center (left/contain) no-repeat;
				background-size: 140%;
			}
			&_x2 {
				background: url(../img/works/blogstandard.jpg) center (center/contain) no-repeat;
				background-size: 100%;
			}

			&_x {
				background: url(../img/works/pulse.jpg) center (left/contain) no-repeat;
				background-size: 140%;
			}
			&_3 {
				background: url(../img/works/mcash.jpg) center (left/contain) no-repeat;
				background-size: 140%;
			}
			&_x3 {
				background: url(../img/works/mcash.jpg) center (center/contain) no-repeat;
				background-size: 100%;
			}

			&_4 {
				background: url(../img/works/uber.jpg) center (left/contain) no-repeat;
				background-size: 140%;
			}
			&_x4 {
				background: url(../img/works/uber.jpg) center (center/contain) no-repeat;
				background-size: 100%;
			}
			&_5 {
				background: url(../img/works/traveldreams.jpg) center (left/contain) no-repeat;
				background-size: 140%;
			}
			&_x5 {
				background: url(../img/works/traveldreams.jpg) center (center/contain) no-repeat;
				background-size: 100%;
			}
			&_6 {
				background: url(../img/works/pulse.jpg) center (left/contain) no-repeat;
				background-size: 140%;
			}
			&_x6 {
				background: url(../img/works/pulse.jpg) center (center/contain) no-repeat;
				background-size: 100%;
			}
			&_7 {
				background: url(../img/works/freshfooddelivery.jpg) center (left/contain) no-repeat;
				background-size: 140%;
			}
			&_x7 {
				background: url(../img/works/freshfooddelivery.jpg) center (center/contain) no-repeat;
				background-size: 100%;
			}
			&_8 {
				background: url(../img/works/organicfood.jpg) center (left/contain) no-repeat;
				background-size: 140%;
			}
			&_x8 {
				background: url(../img/works/organicfood.jpg) center (center/contain) no-repeat;
				background-size: 100%;
			}
			
			&_sh_1 {
				background: url(../img/works/sh1.jpg) center (center/contain) no-repeat;
				background-size: 130%;
			}

		}
	}
	&__wp-sites {
		background-color: #555555;
		padding: 20px 0 40px 0;
	}
	&__shopify-themes {
		background-color: #c9c9c9;
		padding-top: 2px;
		margin-top: -20px;
		.works__subtitle {
			color: #ffffff;
			font-size: 48px;
		}
		.works__list-item_sh {
			background-color: #eeeeee;
		}
	}

}